.dynamic-delete-button {
    position: relative;
    top: 2px;
    margin: 0 8px;
    color: red;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}