.app {
  text-align: center;
}

.app-main-layout{
  min-height: 98vh;
  border-bottom: 25px;
  margin-left:2%;
  margin-right:2%;
  margin-top:0;
  margin-bottom:2%;
  box-shadow: 10px 10px 200px  rgba(0,0,0,0.6);
  -moz-box-shadow: 20px 20px 20px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 2px 10px 20px 7px  rgba(0,0,0,0.6);
  -o-box-shadow: 20px 20px 20px rgba(0,0,0,0.6);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.app-main-content {
    padding: 50px 50px 50px 50px;

  }

.wrapper-div{
    margin: 2%;
}