.health-bar-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75%;
    max-height: 125px;
}

.health-bar-input{
    width: 200px;
}

.health-bar-buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.health-bar-buttons .damage-button{
    width: 95px;
    border-color: #ff4d4f;
    background-color: #ffa39e;
}

.health-bar-buttons .damage-button:hover{
    color: white;
    border-color: #ff4d4f;
    background-color: #ffa39e;
}

.health-bar-buttons .heal-button{
    width: 95px;
    border-color: #52c41a;
    background-color: #b7eb8f;
}

.health-bar-buttons .heal-button:hover{
    color: white;
    border-color: #52c41a;
    background-color: #b7eb8f;
}

.add-status-bar{
    width: 50%;
}

.status-buttons .remove-status-btn{
    border: unset;
    box-shadow: unset;
    padding: 0;
    font-size: larger;
}

.status-buttons .remove-status-btn:hover{
    color: red;
    border: unset;
    box-shadow: unset;
    padding: 0;

}

.speed-label{
    text-transform: capitalize;
}
